body {
	text-rendering: optimizeLegibility;
	width: 210mm;
	margin: 0 auto;
	font: 12pt/1.25em "Gentium Plus", "Linux Libertine Display O", "Linux Libertine O", "LiSong Pro", "CMU Serif", Jura, Palatino, "Hoefler Text", "Crimson Text";
}

article {
	text-align: justify;
	width: 210mm;
	height: 297mm;
}

header {
	font-variant: small-caps;
	width: 170mm;
	margin-left: 25mm;
	position: absolute;
	margin-top: 7mm;
	border-bottom: 1px dotted #919191;
}


.inner {
	padding: 20mm 15mm 20mm 25mm;
}

p {
	margin: 0;
}

p.first {
	text-indent: 0;
}

p.next {
	text-indent: 1.5em;
}

.chapter-nr {
	margin-right: 0.7em;
}

footer {
	text-align: center;
	width: 210mm;
	margin-top: -15mm;
	height: 15mm;
}

h1, h2, h3 {
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: 1em;
}

.pageTop {
	margin-top: 0;
}

h1 {
	font-size: 1.7em;
}

h2 {
	font-size: 1.4em;
}

h3 {
	font-size: 1.15em;
}